<div class="row">
  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="foto">
    <img src="../../../assets/fotoPerfil.png" class="img-fluid" id="fotoPerfil">
  </div>

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 qatar">
    <p id="nombre">Laureano Cappello</p>
    <p>Full Stack Developer Jr</p>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-5 col-lg-7 messi">
    <span id="acerca">
        <h1>Acerca de mí</h1>
        <p id="goat"> Soy Técnico Electrónico que se está desarrollando como Full Stack Developer Junior. <br>Cuento con las habilidades de diseñar, crear y mantener sitios web y aplicaciones web.<br>Me apasiona la tecnología sobre todo la computación, hoy en día estoy continuamente capacitándome en lenguajes de programación para el desarrollo full stack, en el idioma inglés y en conocimientos competentes a la industria IT
        </p>
    </span>
  </div>
</div>