<div class="row">
    <h1>Hard & Soft Skills</h1>
    <!--HTML-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="html">
        <strong><p>HTML</p></strong>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'orange'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--CSS-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="css">
        <strong><p>CSS</p></strong>
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="116"
            [imageWidth]="116"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--JavaScript-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="js">
        <strong><p>JavaScript</p></strong>
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'yellow'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--English-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="en">
        <strong><p>English</p></strong>
        <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/english.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'red'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--TeamWork-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="tw">
        <strong><p>TeamWork</p></strong>
        <circle-progress
            [percent]="100"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/teamwork.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'black'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--MySQL-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="mysql">
        <strong><p>MySQL</p></strong>
        <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/mysql.png'"
            [showImage]="true"
            [imageHeight]="93"
            [imageWidth]="93"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'lightblue'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>