<div class="row">
    <h1>Hard & Soft Skills</h1>
    <!--HTML-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="html">
        <strong><p>HTML</p></strong>
        <circle-progress
            [percent]="70"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'orange'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--CSS-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="css">
        <strong><p>CSS</p></strong>
        <circle-progress
            [percent]="50"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="116"
            [imageWidth]="116"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    
    <!--Bootstrap-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="bootstrap">
        <strong><p>Bootstrap</p></strong>
        <circle-progress
            [percent]="40"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/bootstrap.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="14"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'blueviolet'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <!--JavaScript-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="js">
        <strong><p>JavaScript</p></strong>
        <circle-progress
            [percent]="20"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'yellow'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <!--TypeScript-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="ts">
        <strong><p>TypeScript</p></strong>
        <circle-progress
            [percent]="20"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/typescript.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'rgb(45,100,200)'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <!--Angular-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="angular">
        <strong><p>Angular</p></strong>
        <circle-progress
            [percent]="30"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/angular.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'red'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <!--MySQL-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="mysql">
        <strong><p>MySQL</p></strong>
        <circle-progress
            [percent]="20"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/mysql.png'"
            [showImage]="true"
            [imageHeight]="93"
            [imageWidth]="93"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'lightblue'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <!--Java-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="java">
        <strong><p>Java</p></strong>
        <circle-progress
            [percent]="20"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/java.png'"
            [showImage]="true"
            [imageHeight]="93"
            [imageWidth]="93"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'red'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <!--git-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="git">
        <strong><p>Git</p></strong>
        <circle-progress
            [percent]="50"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="93"
            [imageWidth]="93"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'orange'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <!--GitHub-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="github">
        <strong><p>GitHub</p></strong>
        <circle-progress
            [percent]="70"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/github1.png'"
            [showImage]="true"
            [imageHeight]="93"
            [imageWidth]="93"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'black'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>

    <!--English-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="en">
        <strong><p>English</p></strong>
        <circle-progress
            [percent]="60"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/english.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'red'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <!--TeamWork-->
    <div class="text-center col-sm-6 col-md-4 col-lg-3" id="tw">
        <strong><p>Trabajo en Equipo</p></strong>
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/teamwork.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="17"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'black'"
            [innerStrokeColor]="'#a1b5cb'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    
</div>