* {
    color: white;
}

 /*hr{ 
    background-color: goldenrod;
    border: gray solid 3px;
    width: 97%;
    height: 20px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 30px;
    position: relative;
    color: black;
    opacity: 0.8;
}*/

.messi {
    margin-top: 30px;
    margin-bottom: 30px;
}