<div class="row">
    <h1 class="tit">Educación</h1>

    <div class="col-lg-4 messi">
          <h2 class="tit"><u>Académico:</u></h2>
          <h3 class="tit">Secundario Técnico 2015-2021</h3>
          <p>
              E.E.T.P.N°477 "Combate de San Lorenzo"<br>Técnico en Electrónica.
          </p>
    </div>

    <div class="col-lg-4 messi">
        <h2><u>Cursos:</u></h2>
         
        <h4>Responsive Web Design - Free Code Camp - 2022</h4>
        <p>
            <a href="https://www.freecodecamp.org/certification/Laureano26/responsive-web-design" target="_blank">Certificado</a>
        </p>
        <h4>#SéProgramar - Argentina Programa - 2022</h4>
        <p>
            <a href="https://drive.google.com/file/d/1-97z8bwNgCQ_tkvWWDgTs4kpkKFqAdWy/view" target="_blank">Certificado</a>
        </p>
    </div>

    <div class="col-lg-4 messi">
        <h2><u>Idiomas:</u></h2>
        <h4>Inglés A1 - AulaFácil - 2022</h4>
        <p><a href="https://drive.google.com/file/d/1bzIUvVqKK3Mz01MdfP6uR99xrFIpda39/view" target="_blank">Certificado</a></p>
    </div>

  </div>