.row {
    margin: 0em;
    overflow-x: hidden;
}

div {
    background-color: #a1b5cb;
}

h1 {
    margin-top: 80px;
}

h2 {
    margin-top: 140px;
    margin-right: 30px;
    padding-right: 30px;
}

h1, h2, p {
    text-align: center;
}

img {
    margin-top: 40px;
    width: 400px;
    height: 400px;
    border-radius: 25px;
}