.row {
    margin: 0em;
    overflow-x: hidden;
    width: 97%;
    margin-left: 1.5%;
    border-radius: 25px;
    border: goldenrod solid 5px;
    padding-bottom: 2em;
}

div {
    background-color: #a1b5cb;
}

h1 {
    margin-top: 15px;
}

h2 {
    /*margin-top: 140px;
    margin-right: 30px;
    padding-right: 30px;*/
    color: black;
    font-family: 'sans-serif';
}

h1, h2, p {
    text-align: center;
}

img {
    
    /*width: 500px;
    height: 300px;*/
    border-radius: 25px;
    width: 95%;
    height: 95%;
}

#dimaria {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 0.85em;
}

#messi {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 0.85em;   
}